/* CARMA */

a.home-left-btn, a.home-left-btn:active {
	display:block;
	width: auto;
	padding: .5em;
	border-radius: .25em;
	-webkit-border-radius: .25em;
	-moz-border-radius: .25em;
	-o-border-radius: .25em;
	background: $green;
	margin: .25em auto;
	border-bottom: 1px solid $dark-gray;
	width: 50%;
}

a.home-left-btn:hover {
	background:$light-yellow;
	color: $dark-gray;
}

a.home-right-btn, a.home-right-btn:active {
	display:block;
	width: auto;
	padding: .5em;
	border-radius: .25em;
	-webkit-border-radius: .25em;
	-moz-border-radius: .25em;
	-o-border-radius: .25em;
	background: $orange;
	margin: .25em auto;
	border-bottom: 1px solid $dark-gray;
	width: 50%;
}

a.home-right-btn:hover {
	background:$light-yellow;
	color: $dark-gray;
}

ul.container {
	@include fill-parent;
	border: 1px solid #fff;
	margin:0;
	padding: 0;
}

li.pricelist  {
	@include span-columns(12);
	padding: 0;
	border-bottom: 1px solid #fff;
	list-style-type: none;
	margin: 0 .83em 1em 0;
	line-height: 16px;
	font-size: .65em;
	.price-title {
		@include span-columns(12);
		font-weight: 500;
		margin-top: .75em;
		font-size: 1.25em;
	}
	.price-info {
		@include span-columns(6);
		padding: 5px 0 10px 0;
		strong {
			@include fill-parent;
			font-size: 1em;
		}
	}
}


iframe {
	width: 100% !important;
	border:0;
}

li.cat-post-item {
	@include fill-parent;
	font-size: 1em !important;
	line-height: 22px !important;
	margin-bottom: 1em !important; 
}
/* END CARMA */


/* =Content
----------------------------------------------- */
.sticky {
	background: #f1f1f1;
}
.gallery-caption {
	list-style: none;
}
.bypostauthor {
	list-style: none;
}
.hentry {
	margin: 0 0 1.5em;
}
.byline,
.updated {
	display: none;
}
.single .byline,
.group-blog .byline {
	display: inline;
}
.page-content,
.entry-content,
.entry-summary {
	margin: 0;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.aligncenter {
	@include clearfix;
	float: none;
	margin-top: .5em;
	margin-right: auto!important;
	margin-bottom: .5em;
	margin-left: auto!important;
}
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.sticky{
	float: left;
	padding: 20px;
}
.gallery-caption {}
.bypostauthor {}

/* =Breadcrumbs
----------------------------------------------- */
#breadcrumbs {
	@include fontSize(14px);
	font-family: $content;
	padding: 20px 0 20px 50px;

	a, a:visited {
		border-bottom: solid 1px $primary-color;
	}
}
/* =Media
----------------------------------------------- */

.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
.wp-caption {
	border: 1px solid #ccc;
	clear: both;
	margin-bottom: 1.5em;
	max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 1.2% auto 0;
	max-width: 98%;
}
.wp-caption-text {
	text-align: center;
}
.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}
.site-main .gallery {
	margin-bottom: 1.5em;
}
.gallery-caption {
}
.site-main .gallery a img {
	border: none;
	height: auto;
	max-width: 90%;
}
.site-main .gallery dd {
	margin: 0;
}
.site-main .gallery-columns-4 .gallery-item {
}
.site-main .gallery-columns-4 .gallery-item img {
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}

/* =Comments
----------------------------------------------- */
.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
}

/* =Infinite Scroll
----------------------------------------------- */

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
	display: block;
}

#content {

	.entry-content {
		a, a:visited {
			border-bottom: solid 1px $primary-color;
		}
	}
	.entry-meta {
		a, a:visited {
			border-bottom: solid 1px $primary-color;
		}
	}
}









