.site-branding {
	display: block;
	@include span-columns(10);
	margin: 0 auto 0 auto;
	background: $light-yellow;
	height: 121px;
	.site-title {
		font-family: $title;
		padding: 35px 0;
		font-family: "great_vibesregular", Times New Roman, Times, serif;
		@include media($sm) {
			font-size: $h1-font-size/2;
		}
		@include media($smbg) {
			font-size: $h1-font-size;
		}
		@include media($md) {
			font-size: $h1-font-size;
		}

		//a,a:visited {
			//line-height: 1;
		//}

	}

	.site-description {
		padding: 25px 0;
		display: none;
		@include fontSize(20px);

		@include media($sm) {
			@include fontSize(15px);
		}
		@include media($smbg) {
			@include fontSize(18px);
		}
		@include media($md) {
			@include fontSize(25px);
		}
		font-family: $content;
		font-style: italic;
	}
}
