/* CARMA */

.carma_slider {
	display:block;
	width: 100%;
	background: $light-yellow;
	@include media($md) {
		height: auto;
	}
	@include media($hg) {
		height: 520px;
	}
}
.slider_container {
	@include outer-container();
	margin: 0 auto 0 auto;
}

