/* =Typographical Mixins/Functions
-------------------------------------------------------------- */

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

@mixin fontSize($size) {
  font-size: $size; //Fallback in px
  font-size: calculateRem($size);
}

/* =Genericons and Dashicons
-------------------------------------------------------------- */
@mixin dashicons {
	color: $icon-color;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 16px/1 'Dashicons';
	vertical-align: middle;
}

@mixin genericons {
	color: $icon-color;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 16px/1 'Genericons';
	vertical-align: middle;
}

/* =Typography
-------------------------------------------------------------- */
html {
	font-size: 100%;
}

body {
	@include fontSize(20px);
}
h1, h2, h3, h4, h5, h6 {
	@include clearfix;
	clear: both;
	float: none;
	line-height: 1.25em;
	margin-bottom: 20px;
	text-transform: uppercase;
	a, a:visited {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}
h1 {
	@include fontSize(36px);
	color: $white;
	font-family: $title;
}
h2 {
	@include fontSize(30px);
	font-family: $title;
}
h3 {
	@include fontSize(25px);
	font-family: $title;
}
h4 {
	@include fontSize(20px);
	font-family: $title;
}
h5 {
	@include fontSize(16px);
	font-family: $title;
}
h6 {
	@include fontSize(14px);
	font-family: $title;
}
blockquote {
	background-color: #f9f9f9;
	border-left: solid 5px $primary-color;
	font-style: italic;
	padding: 20px;
}
cite {
	font-style: italic;
}
strong, b {
	@include fontSize(20px);
	color: $white;
	font-family: $title;
}
a, a:visited {
	/*@include transition (all 200ms ease-in-out);*/
	color: $light-yellow;
	text-decoration: none;

	&:hover {
		/*@include transition (all 200ms ease-in-out);*/
		color: $light-till-green;
	}
}
ul {
	@extend %default-ul; // Adds browser default spacing back
}
ol {
	@extend %default-ol; // Adds browser default spacing back
}
.entry-title {
	display: block;
	@include fill-parent;
	font-family: $sans-serif;
	text-align: center;
	font-weight: 400;
	border-bottom: 1px dotted $light-yellow;
	@include media($sm) {
		@include fontSize(35px);
	}
	@include media($smbg) {
		@include fontSize(35px);
	}
	@include media($md) {
		@include fontSize(50px);
	}
}

.blog-title {
	display: block;
	@include fill-parent;
	font-family: $sans-serif;
	text-align: left;
	font-weight: 400;
	@include media($sm) {
		@include fontSize(20px);
	}
	@include media($smbg) {
		@include fontSize(20px);
	}
	@include media($md) {
		@include fontSize(30px);
	}
}
#primary,
#secondary {
	font-family: $sans-serif;
}

footer.entry-meta {
	display: block;
	margin: 0 0 5em 0;
	background: #d24375;
	padding: .5em .5em .5em 1.5em;
	border-radius: .25em;
	-webkit-border-radius: .25em;
	-moz-border-radius: .25em;
	font-size: $small-font-size*1.5;
	a, a:active {
		color: $dark-gray;
	}
	a:hover {
		color: $medium-gray;
	}
}
.entry-meta {
	display: block;
	font-size: $small-font-size*1.5;
	margin: -1.5em 0 .5em 0;
}

.page-header .page-title {
	display: block;
	@include fill-parent;
	border-bottom: 1px dotted $white;
	font-weight:400;
	text-align: center;
	margin-bottom: 1em;
}

